.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://img.freepik.com/free-photo/abstract-blur-green-nature_1150-27263.jpg?w=996&t=st=1677151464~exp=1677152064~hmac=56a7b891cabdcc0aaa6836b127c78fb55a27492b6fc9b82a8b3f00604740aaad');
    background-repeat: no-repeat;
    background-size: cover;
}
.homeLink{
    position: absolute;
    top:10px;
    left: 10px;
    filter: invert(1);
    opacity: 0.6;
}
.homeLink :hover{
    filter: invert(0.5);
}